<header class="encabezado navbar-site">
  <a class="logo" href="index.html">
    <img src="public/images/logo.png" alt="Logo Grupo 5 - Console Wars" />
    <span class="logo-text">CONSOLE<span>WARS</span></span>
  </a>

  <nav class="barraNavegacion" aria-label="Menú principal">
    <ul>
      <li><a href="index.html" data-page="inicio">Inicio</a></li>
      <li><a href="quienes-somos.html" data-page="quienes-somos">Quiénes somos</a></li>
      <li><a href="contacto.html" data-page="contacto">Contacto</a></li>
    </ul>
  </nav>

  
</header>
